---
layout: default
---

    <div class="section no-pad-bot" id="index-banner">
      <div id="particles-js">
      <div class="container">
        <br><br>
        <img src="assets/img/logo.png" class="logo-image">
        <h1 class="header center orange-text">Machine Intelligence</h1>
        <div class="row center">
          <h5 style="margin-top: -30px; margin-bottom: 0px" class="header col s12 light">{{ content }}</h5>
        </div>
        <br><br>

      </div>
    </div>
  <div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">face</i></h2>
            <h5 class="center" style="font-size: 1.3rem;">Neuroscience-Inspired AI</h5>

            <p class="light">The human brain constitutes the most effective and efficient intelligent system ever known in nature. At <em>MI@BioLab</em> we work to discover the <em>key computational principles</em> of intelligence taking inspiration from biological learning systems and recent neuroscience discoveries in order to build smarter machines.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">all_inclusive</i></h2>
            <h5 class="center" style="font-size: 1.3rem;">Machine Learning</h5>

            <p class="light"><em>Learning</em> is one of the fundamental pillars of every intelligent agent. Our focus is centered around Machine Learning and Pattern Recognition with a particular emphasis on <em>Continual Learning</em>. We believe that enabling machines with the ability to adapt and learn continuosly to be a fundamental driving force in our path towards AGI. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">blur_on</i></h2>
            <h5 class="center" style="font-size: 1.3rem;">Real-world Applications</h5>

            <p class="light">We apply and validate our algorithms within real-world applications mostly in the context of Computer Vision and Biometrics (Face Recognition and Morphing, Fingerprint Recognition, etc.). Collaborations with industrial partners ensure that the research activities are always linked and validated within realistic use-cases. </p>
          </div>
        </div>
      </div>

    </div>

    </div>
    <div style="background: #429ee552">
    <div class="container last-post">
    <section>
        <h5>Latest News</h5>
        <ul class="collection">
        {% for post in site.categories.news limit: 5 %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <div class="date-post icon-block">
              <i class="material-icons">{{ post.icon }}</i>
          </div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p class="post-content">
             {{ post.content | strip_html | truncatewords: 10 }}
          </p>
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
             {{ post.date | date: date_format }}
          </time>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>
    </section>
    </div>
</div>

  </div>
